<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
   </head>

   <body>
      <h1>Bienvenido al proyecto robotinho 2.0</h1>
      <h2>Hora: {{ time }}</h2>
      <h3>saber datos de la placa: /maqueta/datosplaca<h3>
<h3>saber distancia del robot: /maqueta/robot <h3>
<h3>saber si hay envio a carriot: /maqueta/carriot<h3>
<h3>activar led_rojo: /maqueta/led_rojo/22 desde postman<h3>
<h3>activar led_verde: /maqueta/led_verde/17 desde postman<h3>
<h3>activar led_amarillo: /maqueta/led_amarillo/27 desde postman<h3>
   </body>
</html>
